<div class="col-md-12">
<h1>Comunidade</h1>
<p>Formulário de cadastro</p>
</div>

<div class="row justify-content-center">
  <div class="col-md-8 ">
    <form class="" action="" method="post">

      <div class="row gy-3">



        <div class="col-md-12">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-text">Designacao</span>
              <div class="form-floating">

                  <input type="text" class="form-control" id="nome"  name="Designacao">
                  <label for="nome">Designacao da zona</label>
              </div>
            </div>
          </div>
        </div>




        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-text">Padroueiro</span>
              <div class="form-floating">
                <select class="form-select" name="Padroueiro">
                  {{#each Padroeiro}}
                    <option value="{{this._id}}">{{this.Nome}}</option>
                  {{/each}}
                </select>

                  <label for="nome">Padroeiro da Comunidade</label>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-text">Zona</span>
              <div class="form-floating">
                <select class="form-select" name="Zona">
                  {{#each Zona}}
                    <option value="{{this._id}}">{{this.Designacao}}</option>
                  {{/each}}
                </select>

                  <label for="nome">Zona da Comunidade</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-text">Area Geografica</span>
              <div class="form-floating">

                  <input type="text" class="form-control" id="nome" name="Area">
                  <label for="nome">Localizacao da Comunidade</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 con">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input type="submit" class="btn btn-outline-success" name="" value="Cadastrar">
            <input type="button" class="btn btn-outline-danger" name="" value="Cancelar">
          </div>
        </div>

      </div>




      </div>



    </form>

  </div>

</div>
